html,body,#root{
    width: 100%;
    height: 100%;
}
#root>div,#index{
    width: 100%;
    height:100%;
}
#index{
    display: flex;
    flex-direction: column;
}
.head{
    width: 100%;
    height: .98rem;
}
.content{
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-y: auto;
    background: #eeee;
}
.content>div{
    width: 100%;
    height: 100%;
}
.foot{
    width: 100%;
    height: .98rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot li{
    width: 25%;
}
.foot li a{
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot .iconfont{
    font-size: .34rem;
    margin-bottom: .09rem;
}
.foot li a span {
    font-size: .3rem;
}
img{
    display: block;
    width: 100%;
}